@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Peralta&family=Quicksand:wght@700&display=swap");

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand";
  // Top bar

  h1 {
    margin-top: 0px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    font-family: "Bungee Spice";
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(53, 53, 53);
    text-align: center;
    width: 100%;
  }

  p {
    font-weight: bold;
  }

  //Search bar
  .search-bar {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;

    input {
      border-radius: 0px;
      border: 1px solid black;
      margin-right: 10px;
      width: 30%;
    }
  }

  button {
    border-radius: 0px;
    margin-left: 10px;
    font-weight: bold;
    padding: 7px 20px 7px 20px;
    border: 1px solid #000000;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      font-family: "Peralta";
      img {
        max-width: 200px;
      }
    }
  }
}
